* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

body {
  background: rgb(14, 13, 13);
  overflow: hidden !important;
}

.form-container {
  display: none;
}

.form {
  background-color: black;
  width: 15em;
  padding: 3em;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: height 0.3s linear;
}

.form > h1 {
  color: #ab17ee;
  padding-bottom: 0.5em;
}

.form > input {
  width: 100%;
  height: 3em;
  outline: none;
  border: none;
  margin-bottom: 1em;
  padding-left: 0.5em;
  font-size: medium;
  color: white;
  background-color: black;
  font-weight: 300;
  border-bottom: solid 1px #ab17ee;
}

#user-image {
  border-bottom: none;
}

.form > input::placeholder {
  color: white;
}

input[type="file"] {
  background: black;
  border: none;
  color: #ab17ee;
}

.form > span {
  color: white;
  margin-bottom: 1em;
  font-weight: 300;
}

.form > span > span {
  color: #ab17ee;
  cursor: pointer;
}

.form > button {
  width: fit-content;
  padding: 1em;
  border: none;
  border-radius: 5px;
  background: black;
  color: #ab17ee;
  transition: all 0.3s ease-in;
}

.form > button:hover {
  background: #ab17ee;
  color: white;
  cursor: pointer;
}

.box1 {
  width: 100px;
  height: 100px;
  background-color: #ab17ee;
  position: absolute;
  top: 15%;
  left: 15%;
}

.box2 {
  width: 50px;
  height: 50px;
  background-color: #ab17ee;
  position: absolute;
  top: 50%;
  left: 70%;
}

.box3 {
  width: 70px;
  height: 70px;
  background-color: #ab17ee;
  position: absolute;
  top: 10%;
  left: 90%;
}

.box4 {
  width: 30px;
  height: 30px;
  background-color: #ab17ee;
  position: absolute;
  top: 90%;
  left: 10%;
}

.box-animate {
  opacity: 0.5;
  animation: rotate 5s linear infinite;
}

.box-animate-rev {
  opacity: 0.5;
  animation: rotate 5s linear infinite reverse;
}

.circle1 {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: solid 3px black;
  border-top: solid 3px #ab17ee;
  position: absolute;
  top: 14%;
  left: 60%;
}

.circle2 {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: solid 3px black;
  border-top: solid 3px #ab17ee;
  position: absolute;
  top: 75%;
  left: 85%;
}

.circle3 {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: solid 3px black;
  border-top: solid 3px #ab17ee;
  position: absolute;
  top: 50%;
  left: 5%;
}

.circle4 {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: solid 3px black;
  border-top: solid 3px #ab17ee;
  position: absolute;
  top: 90%;
  left: 40%;
}

.circle-animate {
  opacity: 0.5;
  animation: rotate 3s linear infinite;
}

.circle-animate-rev {
  opacity: 0.5;
  animation: rotate 3s linear infinite reverse;
}

@keyframes rotate {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}

.blur {
  filter: blur(5px);
}

.chat-app-container {
  display: none;
}

#users-container {
  width: 30%;
}

#users {
  width: 100%;
  height: 580px;
  overflow-x: hidden;
}

#users::-webkit-scrollbar {
  display: none;
}

#chats {
  width: 70%;
  background-color: rgb(14, 13, 13);
}

.user-cards {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: black;
  color: white;
  border-bottom: solid 1px #505050;
  padding: 1em;
  cursor: pointer;
  text-transform: capitalize;
}

.user-cards > img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

#chat-header{
  height: 60px;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
}

#chat-header > img {
  width: 40px;
  height: 40px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 50%;
}

#chat-container {
    height: 100%;
    background-color: rgb(14, 13, 13);
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 10px;
}

#chat-container::-webkit-scrollbar {
  display: none;
}

#msg-container {
    height: 10%;
    background-color: black;
    display: none;
    justify-content: center;
    align-items: center;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 5px;
    position: fixed;
    bottom: 0;
    width: 69%;
}

#msg-container > input {
    height: 70%;
    width: 93%;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #ab17ee;
    outline: none;
    color: white;
}

#msg-container > button {
    height: 70%;
    width: 6%;
    font-size: 2em;
    border: none;
    background-color: transparent;
    color: #ab17ee;
}

.msg-box {
  width: fit-content !important;
  background-color: black;
  color: white;
  padding: 1em;
  margin-top: 5px;
  border-radius: 5px;
}

.msg-box > span {
  display: block !important;
  color: white;
  font-weight: 300;
  font-size: 18px;
}

.msg-box > p {
  color: white;
  font-weight: 300;
  font-size: 10px;
  text-align: right;
}

.from {
  background-color: #ab17ee;
  align-self: flex-end;
}

.to {
  background-color: rgb(34, 34, 34);
}

#sign-out-btn {
  position: fixed;
  top: 10px;
  right: 10px;
  background-color: rgb(31, 30, 30);
  padding: 1em;
  border: none;
  color: white;
  border-radius: 50px;
  cursor: pointer;
}

#loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#chat-user-image {
  display: none;
}

#current-user-info {
  background-color: black;
  padding: 1em;
  display: flex;
  align-items: center;
  border-bottom: solid 1px #505050;
}

#profile-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

#current-user-name {
  color: white;
  text-transform: capitalize;
  margin-left: 10px;
}
