* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    background: rgb(27, 27, 27);
    overflow: hidden;
}

.form {
    background-color: black;
    width: 15em;
    padding: 3em;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: height 0.3s linear;
}

.form > h1 {
    color: #AB17EE;
    padding-bottom: 0.5em;
}

.form > input {
    width: 100%;
    height: 3em;
    outline: none;
    border: none;
    margin-bottom: 1em;
    padding-left: 0.5em;
    font-size: medium;
    color: white;
    background-color: black;
    font-weight: 300;
    border-bottom: solid 1px #AB17EE;
}

.form > input::placeholder {
    color: white;
}

.form > span {
    color: white;
    margin-bottom: 1em; 
    font-weight: 300;
}

.form > span > span {
    color: #AB17EE;
    cursor: pointer;
}

.form > button {
    width: fit-content;
    padding: 1em;
    border: none;
    border-radius: 5px;
    background: black;
    color: #AB17EE;
    transition: all 0.3s ease-in;
}

.form > button:hover {
    background: #AB17EE;
    color: white;
    cursor: pointer;
}

.box1 {
    width: 100px;
    height: 100px;
    background-color: #AB17EE;
    position: absolute;
    top: 15%;
    left: 15%;
}

.box2 {
    width: 50px;
    height: 50px;
    background-color: #AB17EE;
    position: absolute;
    top: 50%;
    left: 70%;
}

.box3 {
    width: 70px;
    height: 70px;
    background-color: #AB17EE;
    position: absolute;
    top: 10%;
    left: 90%;
}

.box4 {
    width: 30px;
    height: 30px;
    background-color: #AB17EE;
    position: absolute;
    top: 90%;
    left: 10%;
}

.box-animate{
    opacity: 0.5;
    animation: rotate 5s linear infinite;
}

.box-animate-rev{
    opacity: 0.5;
    animation: rotate 5s linear infinite reverse;
}

.circle1 {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: solid 3px black;
    border-top: solid 3px #AB17EE;
    position: absolute;
    top: 14%;
    left: 60%;
}

.circle2 {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: solid 3px black;
    border-top: solid 3px #AB17EE;
    position: absolute;
    top: 75%;
    left: 85%;
}

.circle3 {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: solid 3px black;
    border-top: solid 3px #AB17EE;
    position: absolute;
    top: 50%;
    left: 5%;
}

.circle4 {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: solid 3px black;
    border-top: solid 3px #AB17EE;
    position: absolute;
    top: 90%;
    left: 40%;
}

.circle-animate{
    opacity: 0.5;
    animation: rotate 3s linear infinite;
}

.circle-animate-rev{
    opacity: 0.5;
    animation: rotate 3s linear infinite reverse;
}

@keyframes rotate {
    from {
        transform: rotateZ(0deg);
    }
    to {
        transform: rotateZ(360deg);
    }
}

.blur {
    filter: blur(5px);
}